:root {
	--dark: #181926;
	--light: #fff;
	--themeColor: ;

	--layer0: var(--dark);
	--layer1: #35212d;
	--layer2: #6e303c;
	--layer3: #9d3c48;
	--layer4: #b3424d;
	--layer5: #c64752;
	--layer6: #dc4d58;
	--layer7: #e64f5a;
	--layer8: #eb6770;
	--sky: #f0bbc4;

	/* CATPPUCCIN */
	--catppuccin-rosewater: #f4dbd6;
	--catppuccin-flamingo: #f0c6c6;
	--catppuccin-pink: #f5bde6;
	--catppuccin-mauve: #c6a0f6;
	--catppuccin-red: #ed8796;
	--catppuccin-maroon: #ee99a0;
	--catppuccin-peach: #f5a97f;
	--catppuccin-yellow: #eed49f;
	--catppuccin-green: #a6da95;
	--catppuccin-teal: #8bd5ca;
	--catppuccin-sky: #91d7e3;
	--catppuccin-sapphire: #7dc4e4;
	--catppuccin-blue: #8aadf4;
	--catppuccin-lavender: #b7bdf8;

	--catppuccin-text: #cad3f5;
	--catppuccin-subtext1: #b8c0e0;
	--catppuccin-subtext0: #a5adcb;

	--catppuccin-overlay2: #939ab7;
	--catppuccin-overlay1: #8087a2;
	--catppuccin-overlay0: #6e738d;
	--catppuccin-surface2: #5b6078;
	--catppuccin-surface1: #494d64;
	--catppuccin-surface0: #363a4f;
	--catppuccin-base: #24273a;
	--catppuccin-mantle: #1e2030;
	--catppuccin-crust: #181926;
}

body {
	padding: 0;
	margin: 0;
	/* overflow-x: hidden; */
	background-color: var(--dark);
	/* overflow-x: hidden; */
	color: var(--catppuccin-text);
	/* color: var(--light); */
}

h1,h2,h3 {
	text-align: center;
}

h2 {
	font-size: 5rem;
}

#hero > h1 {
	position: absolute;
	top: 36vh;
	text-align: center;
	width: 100%;
	font-size: 5em;
	z-index: -3;
	color: var(--dark);
}

#hero > nav {
	position: absolute;
}

#hero > nav > ul {
	display: flex;
	list-style: none;
	
}

#hero > nav > ul > li > a {
	text-decoration: none;
}

/* .ref	{
	width: 100vw;
	position: absolute;
	top: 0;
	z-index: -100;
	opacity: 0;
} */

.layer {
	position: absolute;
}

/* .layer:not(#layer1,#layer0) {
	transform: translateY(10vh);
}

#layer1,#layer0 {
	transform: translateY(5vh);
} */

#layer0path {
	fill: var(--layer0);
}

#layer1path {
	fill: var(--layer1);
}

#layer2path {
	fill: var(--layer2);
}

#layer3path {
	fill: var(--layer3);
}

#layer4path {
	fill: var(--layer4);
}
#layer5path {
	fill: var(--layer5);
}

#layer6path {
	fill: var(--layer6);
}

#layer7path {
	fill: var(--layer7);
}

#layer8path {
	fill: var(--layer8);
}


/* LAYER 0 */
#layer0 {
	top: 200vh;
	z-index: 0;
	opacity: 1;
}
#layerImg0{
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,26.7vh,27vh); */
	height: 9vh;
	opacity:1;
}
#layerDiv0{
	width: 100vw;
	height: 200vh;
	background-color: var(--layer0);
	margin-top: -3vh;
}


/* LAYER 1 */
#layer1 {
	top: 67vh;
	z-index: -1;
}
#layerImg1{
	transform: translateX(calc((100vw - 100%)/2));
	/* min-width: 100vw; */
	/* height: clamp(6rem,26.7vh,27vh); */
	height: 32vh;
	opacity:1;
}
#layerDiv1{
	width: 100vw;
	height: 400vh;
	background-color: var(--layer1);
	margin-top: -3vh;
}

/* LAYER 2 */
#layer2{
	top: 34.7vh;
	z-index: -2;
}
#layerImg2{
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,36.7vh,40vh); */
	height: 36.7vh;
	/* filter: brightness(70%); */
	/* opacity:1; */
}
#layerDiv2{
	width: 100vw;
	height: 30vh;
	background-color: var(--layer2);
	margin-top: -3vh;
}


/* LAYER 3 */
#layer3{
	top: 22.5vh;
	z-index: -3;
}
#layerImg3{
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,28.5vh,40vh); */
	height: 55vh;
	/* filter: brightness(70%); */
	/* opacity:1; */
}
/* #layerDiv3{
	width: 100vw;
	height: 30vh;
	background-color: #9d3c48;
	margin-top: -3vh;
} */


/* LAYER 4 */
#layer4{
	top: 37.6vh;
	z-index: -4;
}
#layerImg4{
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,16.5vh,40vh); */
	height: 16.5vh;
	/* filter: brightness(70%); */
	/* opacity:1; */
}
/* #layerDiv4{
	width: 100vw;
	height: 30vh;
	background-color: #b3424d;
	margin-top: -3vh;
} */


/* LAYER 5 */
#layer5{
	top: 26.5vh;
	z-index: -5;
}
#layerImg5{
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,22.5vh,40vh); */
	height: 22.5vh;
	/* filter: brightness(110%); */
	/* opacity:1; */
}
/* #layerDiv5{
	width: 100vw;
	height: 30vh;
	background-color: #9d3c48;
	margin-top: -3vh;
} */


/* LAYER 6 */
#layer6{
	top: 27vh;
	z-index: -6;
}
#layerImg6{
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,22.5vh,40vh); */
	height: 38.3vh;
	/* filter: brightness(60%); */
	/* opacity:1; */
}
/* #layerDiv6{
	width: 100vw;
	height: 30vh;
	background-color: #9d3c48;
	margin-top: -3vh;
} */


/* LAYER 7 */
#layer7 {
	top: 18vh;
	z-index: -7;
}

#layerImg7{
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(12rem,36.5vh,40vh); */
	height: 36.5vh;
	/* opacity: 1; */
}


/* LAYER 8 */
#layer8 {
	top: 17vh;
	z-index: -8;
}

#layerImg8{
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(12rem,28vh,30vh); */
	height: 28vh;
	/* opacity: 1; */
}


/* sky */
#backSky {
	position: relative;
	width: 100vw;
	height: 250vh;
	background-color: #f0bbc4;
	z-index: -9;
}


#section1 {
	height: 300vh;
	background-color: var(--dark);
	position: relative;
}

#section1 span.harshit {
	color: var(--catppuccin-maroon);
	/* color: #e64f5a; */
}