:root {
	--dark: #181926;
	--light: var(--catppuccin-frappe-Base);
	--themeColor: ;

	--layer0: var(--dark);
	--layer1: #35212d;
	--layer2: #6e303c;
	--layer3: #9d3c48;
	--layer4: #b3424d;
	--layer5: #c64752;
	--layer6: #dc4d58;
	--layer7: #e64f5a;
	--layer8: #eb6770;
	--sky: #f0bbc4;

	/* CATPPUCCIN MOCHA */
	--catppuccin-mocha-rosewater: #f4dbd6;
	--catppuccin-mocha-flamingo: #f0c6c6;
	--catppuccin-mocha-pink: #f5bde6;
	--catppuccin-mocha-mauve: #c6a0f6;
	--catppuccin-mocha-red: #ed8796;
	--catppuccin-mocha-maroon: #ee99a0;
	--catppuccin-mocha-peach: #f5a97f;
	--catppuccin-mocha-yellow: #eed49f;
	--catppuccin-mocha-green: #a6da95;
	--catppuccin-mocha-teal: #8bd5ca;
	--catppuccin-mocha-sky: #91d7e3;
	--catppuccin-mocha-sapphire: #7dc4e4;
	--catppuccin-mocha-blue: #8aadf4;
	--catppuccin-mocha-lavender: #b7bdf8;

	--catppuccin-mocha-text: #cad3f5;
	--catppuccin-mocha-subtext1: #b8c0e0;
	--catppuccin-mocha-subtext0: #a5adcb;

	--catppuccin-mocha-overlay2: #939ab7;
	--catppuccin-mocha-overlay1: #8087a2;
	--catppuccin-mocha-overlay0: #6e738d;
	--catppuccin-mocha-surface2: #5b6078;
	--catppuccin-mocha-surface1: #494d64;
	--catppuccin-mocha-surface0: #363a4f;
	--catppuccin-mocha-base: #24273a;
	--catppuccin-mocha-mantle: #1e2030;
	--catppuccin-mocha-crust: #181926;

	/* CATPPUCCIN FRAPPE */
	--catppuccin-frappe-Rosewater: #dc8a78;
	--catppuccin-frappe-Flamingo: #dd7878;
	--catppuccin-frappe-Pink: #ea76cb;
	--catppuccin-frappe-Mauve: #8839ef;
	--catppuccin-frappe-Red: #d20f39;
	--catppuccin-frappe-Maroon: #e64553;
	--catppuccin-frappe-Peach: #fe640b;
	--catppuccin-frappe-Yellow: #df8e1d;
	--catppuccin-frappe-Green: #40a02b;
	--catppuccin-frappe-Teal: #179299;
	--catppuccin-frappe-Sky: #04a5e5;
	--catppuccin-frappe-Sapphire: #209fb5;
	--catppuccin-frappe-Blue: #1e66f5;
	--catppuccin-frappe-Lavender: #7287fd;

	--catppuccin-frappe-Text: #4c4f69;
	--catppuccin-frappe-Subtext1: #5c5f77;
	--catppuccin-frappe-Subtext0: #6c6f85;

	--catppuccin-frappe-Overlay2: #7c7f93;
	--catppuccin-frappe-Overlay1: #8c8fa1;
	--catppuccin-frappe-Overlay0: #9ca0b0;
	--catppuccin-frappe-Surface2: #acb0be;
	--catppuccin-frappe-Surface1: #bcc0cc;
	--catppuccin-frappe-Surface0: #ccd0da;
	--catppuccin-frappe-Base: #eff1f5;
	--catppuccin-frappe-Mantle: #e6e9ef;
	--catppuccin-frappe-Crust: #dce0e8;
}

body {
	padding: 0;
	margin: 0;
	/* overflow-x: hidden; */
	background-color: var(--dark);
	font-family: 'Poppins', sans-serif;
	/* color: var(--catppuccin-mocha-text); */
	color: var(--light);
}

h1,
h2,
h3 {
	text-align: center;
}

h2 {
	font-size: 5rem;
}

#hero>h1 {
	position: absolute;
	top: 32vh;
	text-align: center;
	width: 100%;
	font-size: 6em;
	z-index: -3;
	color: var(--dark);
	/* letter-spacing: 1rem; */
}

#hero>nav {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
}

#hero>nav>ul {
	display: flex;
	list-style: none;
}

#hero>nav>ul>li>a {
	text-decoration: none;
	color: var(--dark);
}

/* .ref	{
	width: 100vw;
	position: absolute;
	top: 0;
	z-index: -100;
	opacity: 0;
} */

.layer {
	position: absolute;
	/* transform: scale(1.5); */
}

.layerImg {
	animation-name: LayersZoom;
}

/* #hero h1 {
	animation-duration: 3s;
	animation-name: h1Zoom;
} */


@keyframes LayersZoom {
	from {
		scale: 1.5;
		translate: calc(100%/6)
	}

	to {
		scale: 1;
		translate: 0;
	}
}

/* @keyframes h1Zoom {
	from {
		scale: 0.5;
	}

	to {
		scale: 1;
	}
} */

/* .layer:not(#layer1,#layer0) {
	transform: translateY(10vh);
}

#layer1,#layer0 {
	transform: translateY(5vh);
} */

#layer0path {
	fill: var(--layer0);
}

#layer1path {
	fill: var(--layer1);
}

#layer2path {
	fill: var(--layer2);
}

#layer3path {
	fill: var(--layer3);
}

#layer4path {
	fill: var(--layer4);
}

#layer5path {
	fill: var(--layer5);
}

#layer6path {
	fill: var(--layer6);
}

#layer7path {
	fill: var(--layer7);
}

#layer8path {
	fill: var(--layer8);
}


/* LAYER 0 */
#layer0 {
	top: 200vh;
	z-index: 0;
	opacity: 1;
}

#layerImg0 {
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,26.7vh,27vh); */
	height: 9vh;
	opacity: 1;
}

#layerDiv0 {
	width: 100vw;
	height: 200vh;
	background-color: var(--layer0);
	margin-top: -3vh;
}


/* LAYER 1 */
#layer1 {
	top: 67vh;
	z-index: -1;
}

#layerImg1 {
	transform: translateX(calc((100vw - 100%)/2));
	/* min-width: 100vw; */
	/* height: clamp(6rem,26.7vh,27vh); */
	height: 32vh;
	opacity: 1;
	animation-duration: 2.4s;
}

#layerDiv1 {
	width: 100vw;
	height: 400vh;
	background-color: var(--layer1);
	margin-top: -3vh;
}

/* LAYER 2 */
#layer2 {
	top: 34.7vh;
	z-index: -2;
}

#layerImg2 {
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,36.7vh,40vh); */
	height: 36.7vh;
	/* filter: brightness(70%); */
	/* opacity:1; */
	animation-duration: 2.3s;
}

#layerDiv2 {
	width: 100vw;
	height: 30vh;
	background-color: var(--layer2);
	margin-top: -3vh;
}


/* LAYER 3 */
#layer3 {
	top: 22.5vh;
	z-index: -3;
}

#layerImg3 {
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,28.5vh,40vh); */
	height: 55vh;
	/* filter: brightness(70%); */
	/* opacity:1; */
	animation-duration: 2.2s;
}

/* #layerDiv3{
	width: 100vw;
	height: 30vh;
	background-color: #9d3c48;
	margin-top: -3vh;
} */


/* LAYER 4 */
#layer4 {
	top: 37.6vh;
	z-index: -4;
}

#layerImg4 {
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,16.5vh,40vh); */
	height: 16.5vh;
	/* filter: brightness(70%); */
	/* opacity:1; */
	animation-duration: 2.1s;
}

/* #layerDiv4{
	width: 100vw;
	height: 30vh;
	background-color: #b3424d;
	margin-top: -3vh;
} */


/* LAYER 5 */
#layer5 {
	top: 26.5vh;
	z-index: -5;
}

#layerImg5 {
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,22.5vh,40vh); */
	height: 22.5vh;
	/* filter: brightness(110%); */
	/* opacity:1; */
	animation-duration: 2s;
}

/* #layerDiv5{
	width: 100vw;
	height: 30vh;
	background-color: #9d3c48;
	margin-top: -3vh;
} */


/* LAYER 6 */
#layer6 {
	top: 27vh;
	z-index: -6;
}

#layerImg6 {
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(6rem,22.5vh,40vh); */
	height: 38.3vh;
	/* filter: brightness(60%); */
	/* opacity:1; */
	animation-duration: 1.9s;
}

/* #layerDiv6{
	width: 100vw;
	height: 30vh;
	background-color: #9d3c48;
	margin-top: -3vh;
} */


/* LAYER 7 */
#layer7 {
	top: 18vh;
	z-index: -7;
}

#layerImg7 {
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(12rem,36.5vh,40vh); */
	height: 36.5vh;
	/* opacity: 1; */
	animation-duration: 1.8s;
}


/* LAYER 8 */
#layer8 {
	top: 17vh;
	z-index: -8;
}

#layerImg8 {
	transform: translateX(calc((100vw - 100%)/2));
	min-width: 100vw;
	/* height: clamp(12rem,28vh,30vh); */
	height: 28vh;
	/* opacity: 1; */
	animation-duration: 1.7s;
}


/* sky */
#backSky {
	position: relative;
	width: 100vw;
	height: 250vh;
	background-color: var(--sky);
	z-index: -9;
}


#section1 {
	height: 300vh;
	background-color: var(--dark);
	position: relative;
}

#section1 h2 {
	/* margin-bottom: 0; */
}

/* #section1 span.harshit {
	color: var(--catppuccin-mocha-red);
} */

.aboutPointsDiv {
	display: flex;
	justify-content: center;
}

.aboutPoints {}